<footer class="page-footer">
    <div class="container">
    	<div class="row">
            <div class="col-sm-12 footer-social">
            	<a href="">
					<img src="https://www.linuxtechi.com/ezoimgfmt/secure.gravatar.com/avatar/aee3114362d9999a6c9612d041d34f49?s=20&d=mm&r=g&ezimgfmt=rs:20x20/rscb22/ng:webp/ngcb22">
				  </a>
				  <a href="">
					<img src="https://www.linuxtechi.com/ezoimgfmt/secure.gravatar.com/avatar/aee3114362d9999a6c9612d041d34f49?s=20&d=mm&r=g&ezimgfmt=rs:20x20/rscb22/ng:webp/ngcb22">
				  </a><a href="">
					<img src="https://www.linuxtechi.com/ezoimgfmt/secure.gravatar.com/avatar/aee3114362d9999a6c9612d041d34f49?s=20&d=mm&r=g&ezimgfmt=rs:20x20/rscb22/ng:webp/ngcb22">
				  </a><a href="">
					<img src="https://www.linuxtechi.com/ezoimgfmt/secure.gravatar.com/avatar/aee3114362d9999a6c9612d041d34f49?s=20&d=mm&r=g&ezimgfmt=rs:20x20/rscb22/ng:webp/ngcb22">
				  </a><a href="">
					<img src="https://www.linuxtechi.com/ezoimgfmt/secure.gravatar.com/avatar/aee3114362d9999a6c9612d041d34f49?s=20&d=mm&r=g&ezimgfmt=rs:20x20/rscb22/ng:webp/ngcb22">
				  </a><a href="">
					<img src="https://www.linuxtechi.com/ezoimgfmt/secure.gravatar.com/avatar/aee3114362d9999a6c9612d041d34f49?s=20&d=mm&r=g&ezimgfmt=rs:20x20/rscb22/ng:webp/ngcb22">
				  </a><a href="">
					<img src="https://www.linuxtechi.com/ezoimgfmt/secure.gravatar.com/avatar/aee3114362d9999a6c9612d041d34f49?s=20&d=mm&r=g&ezimgfmt=rs:20x20/rscb22/ng:webp/ngcb22">
				  </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 footer-social">
            	Website source code here:<a href="https://github.com/cotsao/project-one-movies">(╯°□°）╯︵ ┻━┻</a>.
            </div>
        </div>
    </div>
</footer>