<footer>
    <div class="container">
    	<div class="row">
            <div class="col-sm-12 footer-social">
            	<a href="#">fb<i class="facebook"></i></a>
		    	<a href="#">twitter<i class="twitter"></i></a>            	
            	<a href="#">insta<i class="instagram"></i></a>
            	<a href="#">g+<i class="google-plus"></i></a>
            	<a href="#">pin<i class="pinterest"></i></a>
            </div>
        </div>
        
    </div>
</footer>