<footer class="page-footer">
    <div class="container">
    	<div class="row">
            <div class="col-sm-12 footer-social">
            	<a style="font-size: 2rem; color: #f4f4f4;" href="">
					<i class="fab fa-google-plus-square"></i>
				  </a>
				  <a style="font-size: 2rem; color: #f4f4f4;" href="">
					<i class="fab fa-twitter-square"></i>
				  </a>
				  <a style="font-size: 2rem; color: #f4f4f4;" href="">
					<i class="fab fa-facebook-square"></i>
				  </a>
				  <a style="font-size: 2rem; color: #f4f4f4;" href="">
					<i class="fab fa-instagram-square"></i>
				  </a>
				  <a style="font-size: 2rem; color: #f4f4f4;" href="">
					<i class="fab fa-git-square"></i>
				  </a>
				  
				 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 footer-social">
            	Website source code here:<a id="git" href="https://github.com/cotsao/project-one-movies">(╯°□°）╯︵ ┻━┻</a>.
            </div>
        </div>
    </div>
</footer>