<div class="wrapper row0">
  <div class="nav-row">
      <div id="logo" >
          <a id="logo-a" href="/"><h1>movio</h1></a>
      </div>
      <div class="nav">
          <ul class="nav-items">
              <li><a href="/movies">My List</a></li>
              <li><a href="/search">Search</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Sign Up</a></li>
              <li><a href="#">Log In</a></li>
            </ul>
      </div>
  </div>  
</div>