<h1>Index Page</h1>
    <header>
        <nav>
            <ul>
                <li><a href="/movies">Movie List</a></li>
                <li><a href="/movies/new">Add a Movie</a></li>
            </ul>
        </nav>
      </header>