<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/construction.css">
    <title>Under Constructions</title>
</head>
<body>
    

<div>
    <span id="L">U</span>
    <span id="I">N</span>
    <span id="G">D</span>
    <span id="H">E</span>
    <span id="T">R</span>
    <span id="L">C</span>
    <span id="I">O</span>
    <span id="G">N</span>
    <span id="H">S</span>
    <span id="T">T</span>
    <span id="T">R</span>
    <span id="T">U</span>
    <span id="G">C</span>
    <span id="L">T</span>
    <span id="I">I</span>
    <span id="G">O</span>
    <span id="H">N</span>
</div>
<div style="position:absolute; bottom:0; right:0; color:white; letter-spacing: normal;padding-right: 5rem;">
    <h6>Animation by Prathamesh Koshti</h6>
</div>

  
  
</body>
</html>