.page-footer{
    display: flex;
    justify-content: flex-end;
    background-color: #212529;
    color:white;
    padding: 10px 0;
    
}
.footer-social{
    margin: 0 auto;
    text-align: center;
}
.row0{
    background-color: #212529;
    padding-bottom: 80px;
}
.i{
    color:white;
}
#git{
    color: #f4f4f4;
}