@import 'https://fonts.googleapis.com/css?family=Ubuntu:300, 400, 500, 700';
html{overflow-y:scroll; overflow-x:hidden;}
html, body{margin:0; padding:0; font-size:14px; line-height:1.6em;}
/* full width wrapper */
.wrapper{display:block;position:relative;width:100%;margin:0;padding:0;text-align:left;}
/* center horizontal */
.horizontal{display:block;margin:0 auto;}
/* title */
#pageintro{padding:140px 0}
#pageintro article{display:block; max-width:60%; margin:0 auto; text-align:center;}
#pageintro .heading{margin-bottom:20px; font-size:4rem; font-weight: bold; }
#pageintro p{max-width:75%; margin:0 auto;} 
#pageintro footer{margin-top:50px;}
#pageintro footer form{display:block; position:relative; max-width:50%; margin:0 auto; overflow:hidden;}
#pageintro footer input, #pageintro footer button{display:block; height:44px;}
#pageintro footer input{width:100%; padding:5px 40px 5px 15px;}
.btn-outline-success:hover {
    color: #fff;
    background-color: gray;
    border-color: gray;
}
.home-search{
    border-color: gray;
    color: gray;
}
.row1{
    padding-bottom: 20px;
}
.section-title{display:block; max-width:55%; margin:0 auto;margin-top: 5rem; text-align:center;}
.section-title .heading{margin:0; padding:0; line-height:1;}
.movie-slides-container{
    margin:0 auto;
    position: relative;
    width: 20%;
    height: 0;
    padding-bottom: 20%;
    
}
.top-buffer { margin-top:20px; }
#recommendations{padding:20px 0;}
.img-grid{
    max-width:40%;
    margin:0 auto;
    
}
.img-rounded{
    width: 100%
}
.footer-search{
    margin: 0 auto;
    text-align: center;
}
.footer-social{
    margin: 0 auto;
    text-align: center;
}


.bg{
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay{
    position: relative;
    z-index: 1;
}
#header-overlay{
    background-color: #212529;
}
.fl-right{
    float: right;
}
.fl-left{
    float:left;
}

/* color stuff */
/* Rows */

.row2{ background-color:#F4F4F4;}
.row3{background-color:#FFFFFF;}
.row4{background-color:#323639;}




/* Page Intro */
#pageintro{color:#FFFFFF;}
#pageintro footer input{ background-color:rgba(255,255,255,.5);}
#pageintro footer button{background-color:#DBE5E7;}



*, *:after, *:before {
  margin: 0;
  padding: 0;
}

.svg-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

svg {
  path {
    transition: .1s;
  }

  &:hover path {
    d: path("M 800 300 Q 400 250 0 300 L 0 0 L 800 0 L 800 300 Z");
  }
}

.body1 {
  background: #fff;
  color: #333;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
}

.h3-1 {
  font-weight: 400;
}

.header1 {
  color: #fff;
  padding-top: 10vw;
  padding-bottom: 30vw;
  text-align: center;
}

.main1 {
  background: linear-gradient(to bottom, #ffffff 0%, #dddee1 100%);
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 10vh 0 80vh;
  position: relative;
  text-align: center;
  overflow: hidden;

  &::after {
    border-right: 2px dashed #eee;
    content: '';
    position: absolute;
    top: calc(10vh + 1.618em);
    bottom: 0;
    left: 50%;
    width: 2px;
    height: 100%;
  }
}

footer {
  background: #dddee1;
  padding: 5vh 0;
  text-align: center;
  position: relative;
}

small {
  opacity: .5;
  font-weight: 300;

  a {
    color: inherit;
  }
}

