html{overflow-y:scroll; overflow-x:hidden;}
body{
    font-family: 'Raleway', sans-serif;
}

/* full width wrapper */

/* center horizontal */
.horizontal{display:block;margin:0 auto;}

/* title */
#pageintro{padding:50px 0}
#pageintro article{display:block; max-width:60%; margin:0 auto; text-align:center;}
#pageintro .heading{margin-bottom:10px; font-size:6rem; font-weight: bold;font-family: 'Roboto Condensed', sans-serif; }
#pageintro p{max-width:75%; margin:0 auto;} 
#pageintro footer{margin-top:30px;}
#pageintro footer form{display:block; position:relative; max-width:50%; margin:0 auto; overflow:hidden;}
#pageintro footer input, #pageintro footer button{display:block; height:44px;}
#pageintro footer input{width:100%; padding:5px 40px 5px 15px;}
.btn-outline-success:hover {
    color: #fff;
    background-color: gray;
    border-color: gray;
}
.home-search{
    border-color: gray;
    color: gray;
}
.section-title{display:block; max-width:55%; margin:0 auto;margin-top: 5rem; text-align:center;}
.section-title .heading{margin:0; padding:0; line-height:1;}
.movie-slides-container{
    margin:0 auto;
    position: relative;
    width: 25%;
    height: 0;
    padding-bottom: 28%;   
}
/* .top-buffer { margin-top:20px; } */
 #recommendations{padding:5px 0;}  
.img-grid{
    max-width:40%;
    margin:0 auto;
    
}
.img-rounded{
    width: 100%
}
.footer-search{
    margin: 0 auto;
    text-align: center;
}

.bg{
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay{
    position: relative;
    z-index: 1;
}
#header-overlay{
    background-color: #212529;
}
.fl-right{
    float: right;
}
.fl-left{
    float:left;
}
.pre-btn-con{
    width:100%;
}
.pre-btn{
    margin:5px auto;
    display:block;
    background-color: #f4f4f4;
    border-width: 1px;
    border-color: #808080;
    
    
}

/* color stuff */
/* Rows */

.row2{ background-color:#F4F4F4;}
.row3{background-color:#FFFFFF;}
.row4{background-color:#323639;}




/* Page Intro */
#pageintro{color:#FFFFFF;}
#pageintro footer input{ background-color:rgba(255,255,255,.5);}
#pageintro footer button{background-color:#DBE5E7;}
