.movie-img {
    width: 100%; /* need to overwrite inline dimensions */
    height: auto;
  }
  .content {
    position: relative;
  }
  .grid-wrapper{
      padding-top: 30px;
      padding-bottom: 30px;
      background-color: #1f1f1f;
  }
  .grid-body {
    margin:20px auto;
    display: grid;
    max-width: 70%;
    grid-template-columns: repeat(auto-fill, minmax(16%, 1fr));
    grid-gap: 1em;
  }
  .content-img {
    line-height: 0;
    overflow: hidden;
  }
 .close-btn{
    position:absolute;
    top:0;
    right:0;
 } 
 .close{
     border: 1px solid black;
 }
  
 