#moviesGrid {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: gray;
    padding:10px;
}

#moviesSolo{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 5px;
    
}
