body{
    font-family: 'Raleway', sans-serif;
}
.row0{
    background-color: #212529;
}
#header-container{
    color:white;
}
.navbar{
    background-color: #212529;
}
#moviesGrid {
    display:grid;
    grid-template-columns: 33% 33% 33%;
    max-width: 76%;
    margin: 0 auto;
    background-color: gray;
    padding:10px;
}

#moviesSolo{
    overflow: hidden;
    text-decoration: none;
    align-items: center;
    padding: 10px;  
}


#moviesPoster {
    max-height: 300px;
    max-width: 250px;
    padding: 4px;
}

#moviesOptions {
    margin: 4px;
}